%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000        
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000
%tr
  %td.col-xs-2 1
  %td.col-xs-4 Shubham Karkhile
  %td.col-xs-4 02/02/2017
  %td.col-xs-2 5000          